.button {
  -fx-background-color: rgba(0, 0, 0, 0.5);
  background-color: transparent;
  -fx-text-fill: rgb(255, 255, 255);
  -fx-border-radius: 5;
  border-radius: 5;
  -fx-background-radius: 5;
}

.button:hover {
  -fx-background-color: rgba(0, 0, 0, 0.7);
  background-color: rgba(0, 0, 0, 0.7);
}